*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-size: cover;
  background-position: center; 
}
.tool-menu{
	list-style: none;
	display: inline-flex;
	height: 30px;
	margin-top: 2%;
}
.space{
	border-bottom: 1px solid gray;
}
.list-menu{

}
.title-1{
	color: black;
}
.km-left{
	background-color: #FF6A6A;
	margin-top: 10%;
}
.km-right{
	margin-top: 5%;
}
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding-left: 5%;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  height: 40px;
  margin-bottom: 3%;
  margin-left: 5%;
  font-weight: 600;
}

.active, .accordion:hover {
  background-color: green; 
  color: #fff;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #FF6A6A;
  overflow: hidden;
}
.tool-thuoc{
	list-style: none;
}
.list-thuoc{
	display: block;
	width: 105%;
	height: 30px;
	background-color: #fff;
	margin-left: -6px;
	padding-left: 5%;
}
.list-thuoc:hover{
	text-decoration: none;
	background-color: #ccc;
	color: #fff;
}
.bt-list-1{
	padding: 10px 0px 10px 0px;
}
.img-cg{
	background-color: #fff;
}
.hoi-chuyengia{
	display: block;
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3%;
}
.hoi-chuyengia:hover{
	text-decoration: none;
}
.dk-tv{
	background-color: #f8f8f8;
	margin-top: 5%;
}
.full-dk{
	margin-left: 5%;
}
.title-dk{
	color: #2368CF;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    font-style: normal;
    font-family: arial,sans-serif;
    text-transform: uppercase;
    padding-top: 3%;
}
.bt-dky{
	display: block;
	width: 40%;
	height: 40px;
	background-color: #ccc;
	margin-top: 5%;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3%;
}
.bt-dky:hover{
	text-decoration: none;
}
.title-chao{
	text-align: center;
	color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 22px;
    margin-top: 4%;
}
.text-chao{
	font-weight: bold;
    font-style: italic;
}
.link-ct{
	font-style: italic;
	font-weight: bold;
}
.space-1{
	border: 1px solid #ccc;
	width: 20%;
	margin-bottom: 2%;
}
.hotline-ct{
	font-weight: bold;
	font-size: 16px;
}